::root {
	--red: #b1130c;
}

h2.container-header, a.tab-title, .button--primary {
	background-color: #b1130c!important;
	color: white !important;
}

table {
	width: 70vw !important;
	background: white !important;
	font-size: 0.8rem;
}

td {
	padding: 5px;
}

#body>div.body.content {
	top: -3rem;
}

.mobileLogo, .mobileNumber {
	max-width: 370px !important;
}

@media screen and (max-width: 320px) {
	.mobileLogo, .mobileNumber {
		width: 90% !important;
	}
	.bg {
		position: relative;
		padding: 3rem !important;
		left: 5%;
	}
}

@media screen and (min-width: 321px) {
	.mobileLogo, .mobileNumber {
		width: 80%;
	}
	.bg {
		padding: 2rem !important;
		top: -2rem;
		left: 6.75%;
	}
}

@media screen and (min-width: 425px) {
	.bg {
		top: -2rem;
		left: unset;
	}
	.mobileLogo, .mobileNumber {
		width: unset;
		max-width: 370px;
	}
}

@media screen and (min-width: 768px) {
	.bg {
		flex-direction: row;
	}
	.mobileLogo {
		position: relative;
		top: 4rem;
	}
	#body>div.body.content {
		top: 1rem;
	}
}

@media screen and (min-width: 801px) {
	.mobileNumber {
		position: relative;
		top: 4.5rem;
	}
	.bg {
		top: -2rem;
	}
}

@media screen and (min-width: 1368px) {
	.bg {
		justify-content: space-around;
	}
}

@media screen and (min-width: 1900px) {
	.mobileLogo {
		left: 10rem
	}
	.mobileNumber {
		right: 10rem;
	}
}
